
@{
    ViewBag.Title = "StartupPage";
}
<body style="background-color:#f4f2fe">
<h2 style="color:#3200BE;">Welcome To Likewize Retail Tool</h2>

<article>
    <h2 style="color:#3200BE;">Nice to meet you.</h2>
    
    <h4 style="color: #FFC0CB;">Likewize Logo</h4>
   <p >We are a tech protection and support company. We protect 
    the customers of some of the world’s biggest brands, telco’s retailers and banks 
    from tech disruption. When their tech goes wrong, we make it right</p>
</article>
<article>
    <img src="~/Images/394791022-770x433.jpg"/ style="position:relative ;left:170px; padding-top:75px">
</article>
</body>